@import './scss/variables';
@import './scss/mixins';

.layout {
  display: block;
  padding: safe-area(top, 60px) 0 safe-area(bottom, 60px);

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  @include screen-size(s) {
    padding: 60px 0 0 200px;

    .nav-bar {
      top: 80px;
      bottom: auto;
      right: auto;
    }
  }
}

.layout_wrapper {
  position: relative;
  padding: 20px 0;

  @include screen-size(s) {
    max-width: 840px;
    padding: 20px;
    margin: auto;
  }
}

.layout_main {}
