@import './scss/variables';
@import './scss/mixins';

.layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: safe-area(top, 60px) 0 safe-area(bottom, 60px);

  .top-bar {
    order: 2;
    flex: 1 1 auto;
  }

  @include screen-size(s) {
    flex-direction: row;

    .top-bar {
      order: 1
    }
  }
}

.layout_wrapper {
  order: 1;
  flex: 2 1 auto;
  padding: 20px 0;

  @include screen-size(s) {
    order: 2;
  }
}

.layout_main {}
